.bookingHospitalName{
    font: 'Poppins' !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 28px !important;
    color: #14BEF0 !important;

}

.bookingHospitalLocation{
    font: 'Poppins' !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 19.6px !important;
    color: #414146 !important;

}

.bookingHospitalType{
    font: 'Poppins' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 19.6px !important;
    color: #414146 !important;

}

.bookingRating{
    width: 44.08px;
    height: 22.5px;
    padding: 4.5px 7.49px 4px 10.8px;
    gap: 2.79px;
    border-radius: 4px;
    background: #00A500;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row; 
}



.bookingTime{
    width: 84px !important;
    height: 31.59px !important;
    top: 63px;
    left: 525.55px;
    padding: 3px;
    border-radius: 3px ;
    /* border: 1px 0px 0px 0px; */
    border: 1px solid #2AA7FF;

    font: 'Lato' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 19.6px !important;
    text-align: center !important;
    color: #2AA7FF !important;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bootingDate{
    width: 128px;
    height: 32px;
    top: 63px;
    left: 623.55px;
    padding: 3px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #00A500;

    font: 'Lato'!important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 19.6px !important;
    text-align: center;
    color: #007100 !important;
    display: flex;
    align-items: center;
    justify-content: center;

}