.customAccordion {
    max-height: 300px; 
    overflow: auto; 
  }
  
  .customAccordionSummary {
    height: 60px; 
  }
  
  .customAccordionDetails {
    max-height: 240px; 
    overflow: auto; 
  }
  