.customAccordion {
    max-height: 300px; /* Change the maximum height as needed */
    overflow: auto; /* Add overflow to handle content that exceeds the height */
  }
  
  .customAccordionSummary {
    height: 60px; /* Set the height of the summary */
  }
  
  .customAccordionDetails {
    max-height: 240px; /* Set the maximum height for the details */
    overflow: auto; /* Add overflow to handle content that exceeds the height */
  }
  